<h1>Sample App</h1>
<p>Nasz test oczekuje nazwy  tytulowej, a to pod spodem jest po to zebysmy nie zapomnieli z czego korzystamy</p>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>